<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav-side-margin">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sections">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand stroking_black page-scroll" href="#page-top">Phealsout</a>
                <div class="nav align-right small" data-toggle="collapse" data-target="#shopping-cart">
                    <a class="no-size" href="shopping-cart.html">
                        <i class="stroking_black fa fa-3x fa-shopping-cart cart-icon" data-toggle="collapse" data-target="#shopping-cart"></i>
                    </a>
                    <!-- <i class="fa fa-3x fa-shopping-cart"></i> -->
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="sections">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll stroking_black" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll stroking_black" href="#who">Who..?</a>
                    </li>
                    <li>
                        <a class="page-scroll stroking_black" href="#community">Community Art</a>
                    </li>
                    <li>
                        <a class="page-scroll stroking_black" href="#shop">Shop</a>
                    </li>
                    <li class="li-cart">
                        <div class="nav large">
                            <a href="shopping-cart.html">
                                <i class="stroking_black fa fa-3x fa-shopping-cart cart-icon" data-toggle="collapse" data-target="#shopping-cart"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>            
            <!-- /.navbar-collapse -->
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
