<section class="bg-black" id="shop">
    <div class="container-fluid">
        <div class="row nomarge">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading stroking_black">Shop</h2>
                <hr>
                <h4 class="stroking_black">Help yourself to some of the amazing artpieces shown below,
                                           helping me to keep creating, and eating, I do like to eat sometimes.</h4>
                <hr class="invis">
            </div>
            <div class="row">
                <div class="col-lg-8 text-center stroking_black">
                    <h3>Which artwork do you prefer?</h3>
                    <hr class="invis">
                    <section class="no-padding" id="portfolio">
                        <div class="container-fluid overflow-auto">
                            <div class="row no-gutter">
                                <div class="col-lg-3 col-sm-3 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="ffc" src="img/shop/ffc.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Fast Feeling Colours
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="pm" src="img/shop/pm.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Portraitman
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="wow" src="img/shop/wow.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Wave Of Wonder
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="pp" src="img/shop/pp.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Purple Practice
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="bcbb" src="img/shop/bcbb.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    Black Can Be Back
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="ism" src="img/shop/ism.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    It's A Starting Matter
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xs-6">
                                    <a class="portfolio-box shop-img">
                                        <img id="wcf" src="img/shop/wcf.jpg" class="img-responsive" alt="">
                                        <div class="overlay"></div>
                                        <div class="portfolio-box-caption stroking_black">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-category text-faded">
                                                    What Comes First
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>   
                        </div>
                    </section>
                    
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-9 col-xs-offset-2 text-center">
                    <h3 class="stroking_black">What way shape or form?</h3>
                    <hr class="invis">
                    <div class="row btn btn-block btn-primary stroking_black btn-form">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 icon">
                            <i class="fa fa-4x fa-download wow bounceIn text-dark"></i>
                        </div>
                        <div class="col-lg-8 shop-text">
                            <h4>Download</h4>
                            <h6>Full resolution image</h6>
                        </div>
                    </div>
                    
                    <div class="row btn btn-block btn-primary stroking_black btn-form">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 icon">
                            <i class="fa fa-5x fa-print wow bounceIn text-dark"></i>
                        </div>
                        <div class="col-lg-8 shop-text">
                            <h4>Poster</h4> 
                            <h6>29.7 x 42.0cm</h6>
                            <h6>11.69 x 16.53inch</h6>       
                        </div>
                    </div>

                    <div class="row btn btn-block btn-primary stroking_black btn-form">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 icon">
                            <i class="fa fa-5x fa-image wow bounceIn text-dark"></i>
                        </div>
                        <div class="col-lg-8 shop-text">
                            <h4>Canvas</h4>
                            <h6>30 x 40cm</h6>
                            <h6>11.8 x 15.8inch</h6>
                        </div>
                    </div>
                    <hr class="invis">

                    <div id="add-to-cart" class="row btn btn-block btn-default">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <i class="fa fa-4x fa-cart-plus wow bounceIn text-dark"></i>
                        </div>
                        <div class="col-lg-8 shop-text icon">
                            <h4>Add to cart</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>