<section class="bg-black" id="who">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center stroking_black">
                <h2 class="section-heading">I'm Phealsout</h2>
                <hr>
                <p> A broke college student, and an aspiring artist.
                    The expressing of feelings is at the core of every human being. 
                    My way of expressing is creating, this makes live beautiful in my opinion. 
                    I sincerely hope that you get a kick out of going along this journey we are embarked on, and I'm honoured to be part of it.</p>
                <hr class="invis">
            </div>
        </div>

        

        <a href="https://www.youtube.com/channel/UCiNOge8yAxR_c9gWIU77Qrg" target="_blank">
        <div class="row nomarge">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center no-padding">
                    <img src="img/social/youtube.png" class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></img>                
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center align-malcolm">
                    <p class="text-light stroking_black">``Magnificent adventures revolving around enjoying the art in life``</p class="text-light" >
                </div>
            </div>
        </a>

        <hr class="invis">
        
        <a href="https://www.instagram.com/phealsout/" target="_blank">
        <div class="row nomarge">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center no-padding">
                    <img src="img/social/instagram.png" class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></img>                
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 text-center align-malcolm">
                    <p class="text-light stroking_black">``All the drawings you could possibly imagine, and then some``</p class="bg-black stroking_black" >
                </div>
            </div>
        </a>

        <!-- <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div> -->
    </div>
</section>
